<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleCadastroColaborador.css">
    <link rel="stylesheet" href="/base.css">
    <title>Cadastro Colaborador</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"> </script>
</head>

<body>
    <div class="background">
        <header class="header">
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label>
            <div class="sidebar">
                <header>
                    <h3>Bem-Vindo</h3><b></b>
                </header>
                <a href="/crm/home">
                    <i class="fas fa-home"></i>
                    <span>Página inicial</span>
                </a>
                <a href="/colaborador/visualizar">
                    <i class="fas fa-user-alt"></i>
                    <span>Colaboradores</span>
                </a>
                <a href="/visualizar/crm">
                    <i class="fas fa-stream"></i>
                    <span>Visualizar CRM</span>
                </a>
                <a href="/cadastro/crm">
                    <i class="fas fa-stream"></i>
                    <span>Criar CRM</span>
                </a>
                <a href="/login">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </div>
        </header class="masthead">
        <br><h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Cadastro de Colaboradores</h1>
        <div class="container">
            <div class="cadastroForm">
                <form class="form">
                    <br>
                    <label for="Nome" class="formLabel">Nome:</label><br>
                    <input placeholder="  Nome" name="nome"    type="text" class="formInput"><br><br>

                    <div class="linha">
                        <div class="coluna-50">
                            <label for="CPF" class="formLabel-50">CPF:</label><br>
                            <input placeholder="  CPF" name="cpf" type="text" class="formInput-50"><br>
                        </div>
                        <div class="coluna-50">
                            <label for="Setor" class="formLabel-50">Setor:</label><br>
                            <select class="formInput-50" name="setor">
                                <option value="Fiscal">Fiscal</option>
                                <option value="TI">TI</option>
                                <option value="Mercantil">Mercantil</option>
                            </select>
                        </div>
                    </div><br>

                    <label for="Cargo" class="formLabel">Cargo:</label><br>
                    <input placeholder="  Cargo" name="cargo" type="text" class="formInput"><br><br>
    
                    <label for="E-mail:" class="formLabel">E-mail:</label><br>
                    <input placeholder="  E-mail:" name="email" type="text" class="formInput"><br><br>

                    <label for="Senha" class="formLabel">Senha:</label><br>
                    <input placeholder="  Senha" name="senha"   type="password" class="formInput"><br><br>
    
                    <input type="submit" value="Cadastrar" class="botaoCadastrar"><br><br>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
        const formEl = document.querySelector('.form');

        formEl.addEventListener('submit', (event) => {
            event.preventDefault();

            const formData = new FormData(formEl);
            const data = Object.fromEntries(formData);

            fetch('http://localhost:3000/colaborador/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .then((response) => {
                    alert('Colaborador cadastrado com sucesso!');
                    window.location.href = '/colaborador/visualizar';
                })
                .catch(error => console.log(error));
        });
</script>

</html>