<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleHome.css">
    <link rel="stylesheet" href="/base.css">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="background">
        <header class="header">
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label>
            <div class="sidebar">
                <header>
                    <h3>Bem-Vindo</h3><b></b>
                </header>
                <a href="/home">
                    <i class="fas fa-home"></i>
                    <span>Página inicial</span>
                </a>
                <a href="/cadastro/colaborador">
                    <i class="fas fa-user-alt"></i>
                    <span>Colaboradores</span>
                </a>
                <a href="/visualizar/crm">
                    <i class="fas fa-stream"></i>
                    <span>Visualizar CRM</span>
                </a>
                <a href="/cadastro/crm">
                    <i class="fas fa-stream"></i>
                    <span>Criar CRM</span>
                </a>
                <a href="/login">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </div>
        </header class="masthead">

        <br>
        <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Página inicial</h1><br>

        <div class="linha-1">
            <div style="margin-left: 34%;">
                <div class=e614_100>
                    <div class="e612_41"></div>
                    <span class="e612_42">Pesquisa:</span>
                    <div class="e612_43"></div>
                </div>
            </div>
            <select class="formInput-50" name="Setores envolvidos">
                <option value="Número">Número da CRM</option>
                <option value="Data">Data de Abertura</option>
                <option value="Situação">Situação</option>
                <option value="Versão">Versão</option>
            </select>
        </div>

        <div class="">
            <div class="linha">
                <div class="coluna-50-1">
                    <div class="col">
                        <div class="e612_44">
                            <div class="e608_28">
                                <div class="linha-2">
                                    <div class="col-10">
                                        <div class="e608_29"></div>
                                    </div>
    
                                    <div class="col-40-2">
                                        <span class="e608_30">CRM nº: 123987456</span><br>
                                        <span class="e614_72">Detalhes sobre a CRM</span>
                                    </div>

                                    <div class="col-40">
                                        <div class=e711_16>
                                            <span class="e710_6">Data de abertura: 19/02/2022</span><br>
                                            <span class="e710_7">Versão: 3</span><br>
                                            <span class="e710_8">Situação: Em Análise</span>
                                        </div>
                                    </div>

                                    <div class="col-10">
                                        <div class="e711_13">
                                            <a href="/VisualizarCRM/crmView.html">
                                                <input type="button" value="Abrir" class="botaoAbrir">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="coluna-50-1">
                    <div class="col-1">
                        <div class="e612_44">
                            <div class="e608_28">
                                <div class="linha-2">
                                    <div class="col-10">
                                        <div class="e608_29"></div>
                                    </div>
    
                                    <div class="col-40-2">
                                        <span class="e608_30">CRM nº: 123987456</span><br>
                                        <span class="e614_72">Detalhes sobre a CRM</span>
                                    </div>

                                    <div class="col-40">
                                        <div class=e711_16>
                                            <span class="e710_6">Data de abertura: 19/02/2022</span><br>
                                            <span class="e710_7">Versão: 3</span><br>
                                            <span class="e710_8">Situação: Em Análise</span>
                                        </div>
                                    </div>

                                    <div class="col-10">
                                        <div class="e711_13">
                                            <a href="/VisualizarCRM/crmView.html">
                                                <input type="button" value="Abrir" class="botaoAbrir">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>